{
  "jsc": {
    "baseUrl": ".",
    "paths": {
      "src/*": ["src/*"]
    },
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": false
    },
    "target": "es2020",
    "externalHelpers": true,
    "transform": {
      "legacyDecorator": false,
      "decoratorMetadata": true
    }
  },
  "module": {
    "type": "commonjs"
  }
}
